.custom-link {
    color: #55bae6;
}

.custom-nav {
    background: #c36b12;
}

.custom-link:hover {
    color: #f4a234;
}

a.nav-link {
    color: white;
}

a.navbar-brand {
    color: white;
}

    a.navbar-brand:hover {
        color: white;
    }

a.nav-link:hover {
    color: #f4a234;
}

nav {
    background-color: #c36b12;
}
